.footer {
  background-color: #f5f5f5;
  padding: 50px 50px;
}

.footer h5 {
  font-weight: bold;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer hr {
  border-top: 1px solid #ddd;
}

.footer .text-muted {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
  color: blue;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
